package ${packageName}.service;

import java.util.List;

import ${packageName}.entity.${ClassName};
import ${packageName}.dto.request.${ClassName}PageReqDTO;
import ${packageName}.dto.request.${ClassName}ReqDTO;
import ${packageName}.dto.response.${ClassName}RespDTO;

import com.baomidou.mybatisplus.extension.service.IService;
import com.java668.common.model.PageResult;


/**
 * ${functionName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service extends IService<${ClassName}> {

    /**
     * 新增${functionName}
     *
     * @param body
     * @return
     */
    Boolean add(${ClassName}ReqDTO body);

    /**
     * 删除${functionName}
     *
     * @param ${pkColumn.javaField}s
     * @return
     */
    Boolean remove(List<${pkColumn.javaType}> ${pkColumn.javaField}s);

    /**
     * 更新${functionName}
     *
     * @param body
     * @return
     */
    Boolean update(${ClassName}ReqDTO body);

    /**
     * 获取${functionName}详细信息
     *
     * @param ${pkColumn.javaField}
     * @return
     */
    SystUserRespDTO detail(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * 查询${functionName}列表
     *
     * @param req
     * @return
     */
    PageResult<${ClassName}RespDTO> page(${ClassName}PageReqDTO req);

}
