package ${packageName}.domain;

    #foreach ($import in $subImportList)
    import ${import};
    #end
import lombok.Data;
import lombok.ToString;
import com.java668.common.model.BaseDTO;

/**
 * ${subTable.functionName}对象 ${subTableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@ToString
public class ${subClassName}RespDTO extends BaseDTO {
    private static final long serialVersionUID = 1L;

#foreach ($column in $subTable.columns)
    #if(!$table.isSuperColumn($column.javaField))
    /**
     * $column.columnComment
     */
    private $column.javaType $column.javaField;
    #end
#end

}
